<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="" icon="home" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
        <ion-back-button text="" icon="settings" defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>
            <h2>{{ data.user.first_name }} {{ data.user.last_name }}</h2>
            <h3>{{ data.user.address }} heures</h3>
        </ion-label>
    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar>
        Alexandre Junod, 2019 - CPNV<br />
        Last update: {{ data.lastUpdateTime | date: 'dd/MM/yyyy HH:mm:ss' }}, success: {{ data.lastUpdateSuccess }}<br />
    </ion-toolbar>
</ion-footer>
