<ion-header>
  <ion-toolbar>
    <ion-title>
      KarmaJob
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingText="Mise à jour..."></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <div *ngIf="data.jobs.length > 1">
            <p>Tâches :</p>
            <ion-item *ngFor="let job of data.jobs" (click)="showDetailsOfJob(job.id)">
                {{ job.title }}
            </ion-item>
        </div>
    </ion-list>
    Last update: {{ data.lastUpdateTime | date: 'dd/MM/yyyy HH:mm:ss' }}, success: {{ data.lastUpdateSuccess }}
</ion-content>
